@import "../../static/css/_vars"
.signup
    width: 100vw
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__title
        color: white
        font-size: 2rem
        z-index: 1
        background-color: #ff9f1c
        padding: 0.5em 1em
        border: 10px solid white
        border-radius: 6rem
        display: block
        font-family: 'Bowlby One SC', cursive
        text-shadow: 1px 1px 5px #000000
        margin-bottom: 2rem
        text-align: center
        font-weight: normal

    &__form
        display: flex
        flex-direction: column
        z-index: 1
        padding: 2rem
        border-radius: 15px
        position: relative
        background-color: rgba(0,0,0,.4)

        &__close
            width: 60px
            height: 60px
            display: flex
            justify-content: center
            align-items: center
            border: 5px solid white
            border-radius: 50%
            position: absolute
            top: 1rem
            right: 1rem
            z-index: 1

            &:hover &__line1,  &:hover &__line2
                background-color: orange

            &:hover
                border: 5px solid orange
                cursor: pointer
                 

            &__line1, &__line2
                width: 100%
                height: 5px
                background-color: white
            
            &__line1
                transform: rotate(45deg)
                position: relative
                left: 13px

            &__line2    
                transform: rotate(-45deg)
                position: relative
                right: 13px

        &__element
            display: flex
            flex-direction: column
            width: 350px
            margin-bottom: 1rem
            position: relative

            &__label
                color: white
                font-weight: bold
                margin-bottom: .25rem
                text-align: center

            &__input
                font-size: 1.5rem
                font-weight: bold
                padding: .5em 1em
                width: 100%
                color: #4e54c8
                border-radius: 1em
                overflow: hidden

            &__eye
                font-size: 1.4rem
                background-color: rgba(0,0,0,.85)
                position: absolute
                bottom: 0
                right: 0
                height: calc(100% - 1.45rem)
                display: flex
                padding: .8rem
                border-radius: 0 1em 1em 0

                &:hover
                    cursor: pointer

            &__error
                font-weight: bold
                color: red
                text-align: center
                margin-top: .25rem
                margin-bottom: 1rem
            
        &__submit
            margin: 0 auto
            font-size: 1.5rem
            width: 200px

        &__success
            color: white
            font-size: 1.2rem
            font-weight: bold
            text-align: center
            border: 1px solid white
            padding: 1rem 0
            margin-top: 1rem
            max-width: 350px
    
    &__home
        display: none



@media all and (max-width: 1200px)

    .signup

        &__home
            display: block
            color: white
            z-index: 1
            margin-top: 1rem
            margin-bottom: 2rem
            font-size: 1.5rem
            text-decoration: underline

        &__form__close
            display: none
