@import "../../static/css/_vars"
    
.quiz 
    width: 100vw
    min-height: 100vh
    background-image: url('../../static/images/map.jpg')
    background-size: cover
    background-position: center
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

    &__background
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: rgba(57, 88, 57, 0.7)
        z-index: 0
        padding: 2rem
        height: 100%

    &__top
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        z-index: 1

        &__left, &__right
            flex: 1
            text-align: center

        &__flag
            margin-bottom: 2rem
            flex: 1

        &_title
            color: white
            font-size: 3rem
            font-weight: bold
            text-transform: uppercase

        &__score
            color: white
            font-size: 10rem
            font-weight: bold

        &__loading
            color: white

    &__answer
        display: flex
        justify-content: center
        width: 100%
        flex-wrap: wrap
        z-index: 1

        &__letter
            font-size: 3rem
            text-align: center
            text-transform: uppercase
            color: $primaryColor
            background-color: #e3ebe7
            border: 5px solid #3d413d
            width: 100%
            margin: 0 2rem
            margin-bottom: 3rem
            
            &:hover
                cursor: pointer

    &__buttons
        display: flex
        justify-content: center
        z-index: 1

        &__button 
            width: 300px
            text-align: center
            color: rgb(240, 240, 240)
            background-color: #272927
            margin-bottom: 2rem
            padding: 1.5rem
            font-size: 1.5rem
            text-transform: uppercase
            font-family: cursive
            border: 5px solid rgb(240, 240, 240)
            border-radius: 15px
            transition: background-color 0.25s
            font-family: 'Roboto', cursive
            font-weight: bold

            &:hover
                cursor: pointer
                background-color: rgb(18, 90, 46)

            &:first-child
                margin-right: 2rem

    &__result
        width: 100vw
        height: 100vh
        position: fixed
        display: flex
        justify-content: center
        align-items: center
        margin-top: 2rem
        z-index: 1
        background-color: rgba(0,0,0,.6)

        &__content
            display: flex
            flex-direction: column
            align-items: center
            background-color: white
            padding: 2rem
            box-shadow: 5px 5px 5px -3px #999999

            &__check
                height: 100px
                border: 5px solid green
                border-radius: 50%
                padding: 1rem
                box-shadow: 0px 0px 15px 5px green
                z-index: 2

            &__cross
                color: #d61818
                font-weight: bold
                font-size: 5rem
                border: 5px solid #d61818
                border-radius: 50%
                height: 100px
                width: 100px
                display: flex
                justify-content: center
                align-items: center
                padding-bottom: .6rem
                box-shadow: 0px 0px 15px 5px #d61818
                z-index: 2

            &__correct
                color: green
                padding: 1rem
                font-size: 4rem
                border: 5px solid white

            &__incorrect
                color: #d61818
                background-color: transparent
                font-size: 4rem
                border: 5px solid white

            &__text
                font-size: 2rem  

            &__solution
                color: black
                font-size: 5rem
                font-weight: bold
                text-align: center
                margin-bottom: 2rem
                text-transform: uppercase


            &__next, &__pass
                background-color: $primaryColor
                color: white
                font-size: 2rem
                padding: 1rem 2rem
                border: 5px solid white
                display: flex
                align-items: center

                &:hover
                    cursor: pointer
                    background-color: #5bccb5


    &__gameover
        position: absolute
        width: 100vw
        height: 100vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 1
        background-color: rgba(0,0,0,.7)

        &__content
            display: flex
            flex-direction: column
            align-items: center
            background-color: white
            padding: 2rem
            box-shadow: 5px 5px 5px -3px #999999

            &__title
                color: $primaryColor
                font-size: 4rem
                text-transform: uppercase
                margin-bottom: 2rem

            &__score
                font-size: 3rem
                font-weight: bold
                margin-bottom: 2rem

            &__buttons
                display: flex

                &__play, &__quit
                    background-color: $primaryColor
                    color: white
                    font-size: 2rem
                    padding: 1rem 2rem
                    border: 5px solid white
                    display: flex
                    align-items: center

                    &:hover
                        cursor: pointer
                        background-color: #5bccb5

    &__mobile
        display: none

    &__quit
        position: absolute
        top: 2rem
        right: 2rem
        z-index: 1
        color: white
        border: 2px solid white
        padding: 1rem 2rem
        font-size: 1.2rem
        font-weight: bold
        text-transform: uppercase
        transition: .3s

        &:hover
            cursor: pointer
            background-color: rgba(0,0,0,.4)


@media all and (max-width: 1200px)
    .quiz
        background-image: url("../../static/images/map.jpg")
        background-size: cover
        min-height: calc(100vh - 80px)

        &__top

            &__left
                display: none

            &__flag
                width: 100%
                height: auto
                padding: 0 2rem

            &__right
                display: none

        &__mobile
            display: flex
            justify-content: space-between
            width: 100%
            padding: 0 2rem

            &__score, &__timer
                display: flex
                flex-direction: column
                text-align: center

                &__label, &__value
                    color: white
                    font-size: 1.5rem
                    font-weight: bold

        &__buttons
            padding: 0 2rem

            &__button
                width: min-content
                padding: 1rem 2rem

            &__pass, &__submit
                font-size: 2rem
                margin-bottom: 1rem

            &__pass
                margin-right: 2rem

        &__result

            &__content

                &__next
                    font-size: 1.5rem

                &__correct, &__incorrect
                    font-size: 2.5rem

                &__solution
                    font-size: 2rem

        &__gameover
            z-index: 2
            &__content

                &__title
                    font-size: 2rem

                &__score
                    font-size: 2rem

                &__buttons

                    &__play, &__quit
                        font-size: 1.5rem
                        border: none

                    &__play
                        margin-right: 1rem

        &__quit
            display: block
            position: static
            margin: 0 auto
            width: min-content
            margin-bottom: 1rem