.home
    display: flex
    flex-direction: column
    flex-grow: 2

    &__wrapper
        display: flex
        flex-direction: column
        flex-grow: 1
        align-items: center
        justify-content: center

        &__start
            background-color: #23967F
            color: white
            font-size: 2rem
            padding: 1rem 2rem
            border-bottom: 5px solid #16584b

            &:hover
                background-color: #5bccb5
