@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Carter+One&family=Chango&family=Monoton&family=Vast+Shadow&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap')

.home 
    width: 100vw
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    z-index: 1
    padding: 2rem

    &__title
        color: white
        font-size: 4rem
        z-index: 1
        background-color: #ff9f1c
        padding: 0.5em 1em
        border: 10px solid white
        border-radius: 6rem
        display: block
        font-family: 'Bowlby One SC', cursive
        text-shadow: 1px 1px 5px #000000
        margin-bottom: 2rem
        text-align: center


    &__subtitle 
        color: white
        margin-bottom: 2rem
        z-index: 1

    &__score
        display: flex
        flex-direction: column
        margin-bottom: 2rem
        background-color: rgba(0,0,0,.3)
        z-index: 1
        padding: 1em 2em
        border-radius: 15px

        &__welcome
            font-size: 2rem
            font-weight: bold
            z-index: 1
            text-align: center
            margin-bottom: 1rem
            color: white

        &__content
            font-size: 1.5rem
            font-weight: bold
            z-index: 1
            text-align: center
            color: #ff9f1c

    &__menu 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        z-index: 1

@media all and (max-width: 1200px)
    .home

        &__background
            padding: 0

        &__header

            &__title
                background-color: rgba(0,0,0,.7)
                font-size: 2.5rem

            &__subtitle
                display: none