@import "../../static/css/_vars"
.footer
    position: fixed
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    background-color: $darkColor
    padding: .5rem

    &__link
        display: flex
        color: white
        text-decoration: none
        font-size: 1.2rem

        &:hover
            cursor: pointer
            color: $primaryColorLight
    
        &__logo
            margin-left: 1rem