@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

.login
    position: fixed
    width: 100vw
    min-height: 100vh
    top: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgba(0,0,0,.9)
    z-index: 2

    &__title
        color: white
        font-size: 2rem
        z-index: 1
        background-color: #ff9f1c
        padding: 0.5em 1em
        border: 10px solid white
        border-radius: 6rem
        display: block
        font-family: 'Bowlby One SC', cursive
        text-shadow: 1px 1px 5px #000000
        margin-bottom: 2rem
        text-align: center

    &__form
        display: flex
        flex-direction: column
        z-index: 1
        padding: 2rem
        border-radius: 15px
        position: relative
        background-color: #4e54c8

        &__element
            display: flex
            flex-direction: column
            width: 350px
            margin-bottom: 1rem

            &__label
                color: white
                font-weight: bold
                margin-bottom: .25rem
                text-align: center

            &__input
                font-size: 1.5rem
                font-weight: bold
                padding: .5em 1em
                width: 100%
                color: #4e54c8
                border-radius: 1em

        &__loading
            display: flex
            justify-content: center
            align-items: center
            position: relative
            width: min-content
            margin: 1rem auto

        &__loader
            color: white
            margin-bottom: 1rem
            font-weight: bold
            padding-left: calc(1rem + 40px)
            white-space: nowrap

        &__submit
            margin: 0 auto

        &__close
            width: 60px
            height: 60px
            display: flex
            justify-content: center
            align-items: center
            border: 5px solid white
            border-radius: 50%
            position: absolute
            top: -5rem
            right: -5rem

            &:hover &__line1,  &:hover &__line2
                background-color: orange

            &:hover
                border: 5px solid orange
                cursor: pointer
                 

            &__line1, &__line2
                width: 100%
                height: 5px
                background-color: white
            
            &__line1
                transform: rotate(45deg)
                position: relative
                left: 13px

            &__line2    
                transform: rotate(-45deg)
                position: relative
                right: 13px

        &__error
            color: #ff4f4f
            font-size: 1.2rem
            font-weight: bold
            margin-bottom: 1rem
            text-align: center

        &__forgotPassword
            color: white
            font-weight: bold
            margin-bottom: 1rem
            text-decoration: underline
            text-align: center

            &:hover
                cursor: pointer
                color: orange

    @media all and (max-width: 1200px)
        .login__form__close
            position: absolute
            top: -5rem
            left: 42%

        