@import "../../static/css/_vars"

.rules
    width: 100vw
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-top: 2rem
    padding-bottom: 4rem

    &__wrapper
        z-index: 1
        background-color: rgba(0,0,0,.3)
        border-radius: 2rem
        padding: 2rem
        margin-top: 2rem

        &__title
            color: white
            text-align: center
            text-transform: uppercase
            font-family: 'Bowlby One SC', cursive
            font-weight: normal
            font-size: 2rem
            margin-bottom: 1rem

    &__list
        padding: 2rem 4rem
        max-width: 1200px
        z-index: 1

        &__element
            display: flex
            flex-direction: column
            text-align: center
            text-align: justify
            font-weight: normal

            &__title
                color: orange
                font-weight: bold
                font-size: 1.5rem
                margin-bottom: 1rem
                text-align: left

            &__content
                font-size: 1.2rem
                font-weight: normal
                margin-bottom: 2rem
                color: white

            &__button
                width: min-content
                white-space: nowrap
                font-size: 1.5rem
                margin-top: 2rem


@media all and (max-width: 1200px)
 .rules
    padding: .25rem

    &__title
        font-size: 2rem

    &__wrapper
        width: 100%
        padding: 1rem
        display: flex
        flex-direction: column
        align-items: center

        &__title
            font-size: 1.5rem
            margin-bottom: 1rem

    &__list
        padding: 1rem

        &__element
            &__button
                font-size: 1.1rem