.rules
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    background-color: #EFE7DA

    &__wrapper

        &__title
            color: #16584b
            text-align: center
            font-size: 3rem
            font-weight: bold
            text-transform: uppercase
            margin-bottom: 3rem

        &__list

            &__element
                display: flex
                flex-direction: column
                text-align: center

                &__title
                    color: #16584b
                    font-weight: bold
                    font-size: 2rem
                    margin-bottom: 1rem

                &__content
                    font-size: 1.2rem
                    font-weight: bold
                    margin-bottom: 2rem